html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0 0 50px 0;
    background: rgb(10, 10, 10);
    color: rgb(210, 210, 210);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}

h2 {
    margin: 3px 0;
}

p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-container {
    width: 80%;
    max-width: 1440px;
    margin: 15px auto;
}

.navbar {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(50, 50, 50);
    background: rgb(20, 20, 20);
    z-index: 9;
}

    .navbar .navbar-container {
        width: 80%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .navbar .navbar-collapse-content {
        display: flex;
        justify-content: center;
    }

    .navbar #navbarCollapseButton {
        display: none;
    }

    .navbar .navbar-link {
        box-sizing: border-box;
        width: 150px;
        padding: 15px 0;
        background: rgb(20, 20, 20);
        text-align: center;
        text-decoration: none;
    }

        .navbar .navbar-link:hover {
            background: rgb(10, 10, 10);
        }

        .navbar .navbar-link .navbar-link-text {
            display: block;
            margin-top: 3px;
            font-size: 0.75rem;
        }

        .navbar .navbar-link .navbar-link-icon {
            display: block;
            font-size: 1.35rem;
        }

    .navbar .navbar-link-form {
        width: 150px;
    }

        .navbar .navbar-link-form button {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 15px 0;
            border: none;
            outline: none;
            background: none;
            color: inherit;
            font: inherit;
            font-size: inherit;
            cursor: pointer;
        }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid rgb(50, 50, 50);
    background: rgb(20, 20, 20);
}

    .footer .footer-container {
        width: 80%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: right;
    }

        .footer .footer-container .footer-link {
            font-size: 0.75rem;
            text-decoration: none;
        }

.standard-form {
    max-width: 600px;
    margin: 0 auto;
}

    .standard-form::after {
        display: table;
        clear: both;
        content: "";
    }

    .standard-form .standard-form-group > * {
        display: block;
        margin: 3px 0;
        color: inherit;
        font: inherit;
    }

    .standard-form .standard-form-group > input {
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(50, 50, 50);
        background: none;
    }

    .standard-form .standard-form-group > textarea {
        box-sizing: border-box;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        padding: 5px;
        border: 1px solid rgb(50, 50, 50);
        background: none;
    }

    .standard-form .form-button {
        margin: 10px 0 10px 10px;
        padding: 10px 25px;
        float: right;
        border: 1px solid rgb(50, 50, 50);
        background: rgb(20, 20, 20);
        color: inherit;
        font: inherit;
        font-size: 0.75rem;
    }

        .standard-form .form-button:hover {
            background: rgb(10, 10, 10);
        }

    .standard-form ::-webkit-calendar-picker-indicator:hover {
        background: none;
    }

    .standard-form ::-webkit-inner-spin-button {
        display: none;
    }

    .standard-form ::-webkit-file-upload-button {
        margin: 2px 0 2px 1px;
        padding: 10px 25px;
        border: 1px solid rgb(50, 50, 50);
        background: rgb(20, 20, 20);
        color: inherit;
        font: inherit;
        font-size: 0.75rem;
    }

        .standard-form ::-webkit-file-upload-button:hover {
            background: rgb(10, 10, 10);
        }

.input-validation-error {
    border-color: rgb(155, 0, 0) !important;
}

.field-validation-error, .validation-summary-errors {
    color: rgb(155, 0, 0) !important;
}

.load-more-movie-cards-button {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 15px 0;
    border: 1px solid rgb(50, 50, 50);
    background: rgb(20, 20, 20);
    color: inherit;
    font: inherit;
    font-size: 0.9rem;
}

    .load-more-movie-cards-button:hover {
        background: rgb(10, 10, 10);
    }

.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
    border: 1px solid rgb(50, 50, 50);
}

    .movie-card .movie-card-poster {
        width: 100%;
        height: 100%;
    }

    .movie-card .movie-card-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    }

    .movie-card:hover .movie-card-overlay {
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,1));
    }

    .movie-card .movie-card-overlay .movie-card-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 0;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }

.like-button {
    border: none;
    background: none;
    font-size: 3rem;
}

    .like-button.unliked {
        color: rgb(150, 150, 150);
    }

    .like-button.liked {
        color: rgb(155, 0, 0);
    }

.info-box {
    margin-top: 75px;
    text-align: center;
}

    .info-box .info-box-icon {
        font-size: 8rem;
    }

    .info-box .info-box-text {
        margin-top: 20px;
    }

.all-loaded-info {
    margin-top: 20px;
    font-size: 0.75rem;
    text-align: center;
}

.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .movie-details-container .movie-title .release-date {
        font-size: 0.75em;
        font-style: italic;
    }

    .movie-details-container .movie-details-poster {
        width: 400px;
        max-width: 100%;
        border: 1px solid rgb(50, 50, 50);
    }

    .movie-details-container .movie-details-table {
        width: 100%;
        border-collapse: collapse;
    }

        .movie-details-container .movie-details-table th {
            width: 30%;
            font-weight: bold;
            text-align: left;
            padding: 0 5px;
        }

        .movie-details-container .movie-details-table td {
            text-align: justify;
            text-justify: inter-word;
            padding: 0 5px;
        }

        .movie-details-container .movie-details-table tr:nth-child(even) {
            background: rgb(20, 20, 20);
        }

    .movie-details-container .movie-details-panel:last-child {
        width: 350px;
        max-width: 100%;
        margin-left: 10px;
    }

    .movie-details-container .movie-details-icons {
        padding-left: 5px;
    }

        .movie-details-container .movie-details-icons a {
            text-decoration: none;
        }

@media (max-width: 768px) {
    .navbar .navbar-link {
        width: 100%;
    }

    .navbar .navbar-link-form {
        width: 100%;
    }

    .navbar .navbar-collapse-content {
        display: none;
        flex-direction: column;
    }

    .navbar #navbarCollapseButton {
        display: block;
    }
}

.show-collapsed-navbar-content {
    display: flex !important;
}
