<footer class="footer">
    <div class="footer-container">
        <a asp-action="@nameof(AuthorController.Contact)" asp-controller="Author" class="footer-link">
            <i class="fas fa-envelope"></i> Formularz kontaktowy
        </a>
    </div>
</footer>