<nav class="navbar">
    <div class="navbar-container">
        <a id="navbarCollapseButton" class="navbar-link">
            <i class="fas fa-bars navbar-link-icon"></i>
            <span class="navbar-link-text">Rozwiń</span>
        </a>
        <div class="navbar-collapse-content" id="navbarCollapseContent">
            <a href="/" class="navbar-link">
                <i class="fas fa-film navbar-link-icon"></i>
                <span class="navbar-link-text">Strona główna</span>
            </a>
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-action="@nameof(AccountController.Register)" asp-controller="Account" class="navbar-link">
                    <i class="fas fa-user-plus navbar-link-icon"></i>
                    <span class="navbar-link-text">Zarejestruj się</span>
                </a>
                <a asp-action="@nameof(AccountController.Login)" asp-controller="Account" class="navbar-link">
                    <i class="fas fa-sign-in-alt navbar-link-icon"></i>
                    <span class="navbar-link-text">Zaloguj się</span>
                </a>
            }
            else
            {
                <a asp-action="@nameof(MovieController.Add)" asp-controller="Movie" class="navbar-link">
                    <i class="fas fa-plus navbar-link-icon"></i>
                    <span class="navbar-link-text">Dodaj film</span>
                </a>
                <form asp-action="@nameof(AccountController.Logout)" asp-controller="Account" class="navbar-link-form">
                    <button type="submit" class="navbar-link">
                        <i class="fas fa-sign-out-alt navbar-link-icon"></i>
                        <span class="navbar-link-text">Wyloguj się</span>
                    </button>
                </form>
            }
        </div>
    </div>
</nav>