@model RegisterViewModel

@{
    ViewBag.Title = "Rejestracja";
}

<form asp-action="@nameof(AccountController.Register)" class="standard-form">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="standard-form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="standard-form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="standard-form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="standard-form-group">
        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" />
        <span asp-validation-for="RepeatPassword"></span>
    </div>
    <button type="submit" class="form-button">Zarejestruj się</button>
</form>